body {
    font-family: Arial, sans-serif;
    background-color: #cfeed8;
    margin: 0;
    padding: 0;
}

#bodys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#LF {
    background-color: #bbb4b4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#serche label {
    display: block;
    margin-bottom: 10px;
}

#serche input[type="text"],
#serche input[type="number"],
#serche input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#serche input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#serche input[type="submit"]:hover {
    background-color: #45a049;
}
